.login-main-wrapper  {
  width: 100%;
  height: 100vh;
  background-color: $green;

  .form-content {
    padding: 5%;
    width: 30%;
    height: calc(85% - 70px);
    background-color: $white;
    margin: 140px auto;

    #message_body {
      h1 {
        font-family: 'Open Sans', sans-serif;
        color: $gray;
        text-align: center;
        padding-bottom: 30px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        color: $gray;
        text-align: center;
        padding-bottom: 30px;
      }
    }

    #return_link {
      text-align: center;

      a {
        font-family: 'Open Sans', sans-serif;
        color: $red;
        text-decoration: none;
      }
    }

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: 'Open Sans', sans-serif;
        color: $gray;
        text-align: center;
        padding-bottom: 30px;
      }

      .form-group {
        background-color: #e9e9e9;
        padding: 15px;
        margin-bottom: 10px;

        label {
          font-size: 25px;
          padding-right: 10px;
        }

        input[type=password], input[type=email], input[type=text] {
          font-size: 20px;
          border: none;
          background-color: rgba(0,0,0,0);
          width: calc(100% - 40px);

          &:focus {
            outline: none;
          }
        }
      }

      .notice {
        color: $red;
        font-style: italic;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
      }

      .role-select {
        padding: 25px 0 10px 0;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;

        label {
          padding-bottom: 2px;

          input {
            margin-left: 10px;
          }
        }
      }

      .submit {
        padding: 25px 0 50px 0;

        input[type=submit]{
          width: 100%;
          background-color: $red;
          color: $white;
          border: none;
          padding: 15px;
          font-size: 16px;
          cursor: pointer;
          transition: all .2s ease-in-out;

          &:hover {
            background-color: $red-hover;
          }
        }
      }

      .register {
        display: flex;
        color: #6e6e6e;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        justify-content: center;

        a {
          color: #6e6e6e;
        }
      }
    }
  }
}