

  .meetings-main-wrapper {
    min-height: 100vh;
    width: 100vh;

    .meetings-sub-nav {
      margin-top: 150px;
      display: flex;
      width: 100vw;
      flex-direction: column;

      .sub-nav-top {
        width: 100%;

        h1 {
          font-family: 'Open Sans', sans-serif;
          font-size: 50px;
          text-align: center;
        }
      }

      .sub-nav-bottom {
        margin-top: 60px;
        width: 100%;
        display: flex;

        .sub-nav-left {
          display: flex;
          width: 20%;
          margin-left: 100px;
          line-height: 18px;

          a {
            color: $gray;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            padding: 0 5px;
            text-decoration: none;
          }

          input[type=text] {
            height: 20px;
            width: 150px;
            padding: 10px 2px;
            font-size: 20px;

            &:focus {

            }
          }
        }

        .sub-nav-middle {
          width: 60%;
          text-align: center;

          a {
            color: $gray;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            margin: 0 20px;
            padding-bottom: 16px;
            text-decoration: none;
            border-bottom: 3px solid rgba(0, 0, 0, 0);
            z-index: 99;
            transition: all .2s ease-in-out;

            &:hover {
              border-bottom: 3px solid $red;
            }
          }
        }

        .sub-nav-right {
          width: 20%;
          text-align: right;
          margin-right: 100px;
          line-height: 20px;


          button {
            background-color: $red;
            border: none;
            color: $white;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            padding: 8px 20px;
            margin-top: -5px;
            cursor: pointer;
          }
        }
      }

      hr {
        margin: 10px 100px;
        z-index: -99;
      }
    }

    .wrapper {
      width: 100%;
      margin: 500px;
      font-family: 'Open Sans', sans-serif;
      background-color: #118AB2;

      p {
        margin-top: 500px;
        padding: 300px;
        font-size: 30px;
      }
    }

  }
